# Created by .ignore support plugin (hsz.mobi)
.idea/
cmake-build-debug/
.idea/**/mongoSettings.xml
*.iws
*.iml
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
